.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 20rem ;
    margin-top: 2rem;
    height: 15vh;
    border-radius: 2rem;
    padding: 30px;
}
h1 , #CurrentTime{
    font-size: 3rem;
    background-color: rgb(219, 209, 60);
    padding:40px 10px;
    border-radius: 1rem;
    margin-right: 5px;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
button{
    font-size: 2rem;
    background-color: rgb(60, 219, 113);
    padding:10px 10px;
    border-radius: 10px;
    margin-right: 5px;
}